<div xmlns="http://www.w3.org/1999/html">
    <label>
        <input git-focus type="text" ng-model="person" placeholder="type your name here"/>
    </label><br/>

    <h1>{{person}}</h1>

    <div class="alert">
        RESTful service is talking: {{ welcomeMessage }} to you!
        </br>
        Angular Controller is talking: {{ controllerMessage }} to you!
    </div>
</div>
</div>
