<div class="input-group date-picker-group">
      <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    <input type="text" datepicker-popup="{{format}}"
           class="in-date-picker form-control"
           ng-model="pickedDate"
           min-date="minDate" max-date="maxDate"
           name="inDatePicker"
           in-dynamic-name="name"
           datepicker-options="dateOptions"
           date-disabled="disabled(date, mode)"
           current-text="Dziś"
           clear-text="Wyczyść"
           close-text="Zamknij"
           show-button-bar="false"
           is-open="opened"
           ng-required="true"
           />
</div><!-- /input-group -->
           <!--name="name"-->
