<table class="form-inline">
    <tr class="text-center">
        <td><a ng-click="incrementHours()" class="btn btn-link chevron-hours colored-green"><i class="glyphicon glyphicon-chevron-up"></i></a></td>
        <td>&nbsp;</td>
        <td><a ng-click="incrementMinutes()" class="btn btn-link chevron-minutes colored-green"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </td>
    </tr>
    <tr>
        <td class="control-group" ng-class="{'error': invalidHours}">
            <div class="input-group">
                <input type="text" ng-model="hours"
                       ng-change="updateHours()"
                       class="span1 text-center form-control"
                       ng-mousewheel="incrementHours()"
                       ng-readonly="readonlyInput"
                       maxlength="{{ hoursInputLength }}">
                <span class="input-group-addon">h</span>
            </div>
        </td>
        <td>:</td>
        <td class="control-group" ng-class="{'error': invalidMinutes}">
            <div class="input-group">
                <input type="text" ng-model="minutes"
                       ng-change="updateMinutes()"
                       class="span1 text-center form-control"
                       ng-readonly="readonlyInput" maxlength="2">
                <span class="input-group-addon">m</span>
            </div>
        </td>
    </tr>
    <tr class="text-center">
        <td><a ng-click="decrementHours()" class="btn btn-link chevron-hours colored-green"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </td>
        <td>&nbsp;</td>
        <td><a ng-click="decrementMinutes()" class="btn btn-link chevron-minutes colored-green"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </td>
    </tr>
</table>