<footer>
    <div class="container">
        <p class="footer-note">Aplikacja nie działa tak jak powinna? <a ng-click="openReportBugModal()">Zgłoś problem</a>, abyśmy mogli go naprawić.</p>
    </div>
</footer>