<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" ng-show="showView">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ng-click="logoClicked()"><i class="fa fa-clock-o"></i><strong> GetInTime</strong></a>
                <button type="button" ng-click="openAddTaskModal()" class="btn btn-default navbar-btn in-header-button">Dodaj zadanie</button>
                <button in-secured roles="MANAGER,DIRECTOR" type="button" ng-click="openAdminPanel()" class="btn btn-default navbar-btn in-header-button">Otwórz panel administracyjny</button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" ng-show="showData">
                <li><a href="#"><i class="fa fa-user"></i> {{user.firstName}} {{user.secondName}} ({{user.type | userType}})</a></li>
                <li><a href="#" ng-click="logout()"><i class="fa fa-power-off"></i> Wyloguj się</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>