    <div ng-class="{'has-error': showPercentageError()}">
        <label class="control-label" >Procent wykonanej pracy</label>
        <div class="controls">
            <input in-numeric-input type="text" name="percentageValue" ng-model="percentageVariable"
                   placeholder="Np. 30" class="form-control percentage-input"/> %
            <p class="help-block" ng-show="showPercentageError()">Wartość musi być z przedziału 0% - 100%!</p>
            <p class="help-block" ng-show="displayAutofinishWarning()">Uwaga - ta akcja automatycznie zakończy pracę nad zadaniem!!</p>
        </div>
    </div>
