{{taskStatus}}
<div>
    <div>
        <button ng-show="showStartActions" ng-click="startAction(taskId)" type="button">start</button>
        <div ng-show="showStopActions">
            <button ng-click="stopAction(taskId)" type="button">stop</button>
            <button ng-click="doneAction(taskId)" type="button">done</button>
        </div>
    </div>
</div>