<div class="container working-container" ng-switch="isWorkingOnTask()">
    <div class="container active-task-container" ng-switch-when="true">
        <h1 class="text-center">Aktualnie pracujesz nad: <a href="#/task/{{activeTask.id}}">{{activeTask.taskDescription.name}}</a><i class="fa fa-circle-o-notch fa-spin pull-right"></i>
        </h1>
        <div class="row">
            <div class="col-md-4">
                <div class="details-container time-details-container">
                    <h5 class="strong with-hr">Czas</h5>
                    <div class="container-fluid">
                        <ul class="list-unstyled">
                            <li class="col-md-6">
                                Aktualny czas:
                            </li>
                            <li class="col-md-6">{{activeTask.workingTime.hours}}:{{activeTask.workingTime.minutes}}:{{activeTask.workingTime.seconds}}</li>

                            <li class="col-md-6">Estymata:</li>
                            <li class="col-md-6" ng-class="{'text-danger strong': isEstimatedTimeExceeded(activeTask)}">
                                {{activeTask.taskProperties.estimatedTime | duration}}
                                <i class="fa fa-exclamation-triangle text-danger" title="Estymata przekroczona!" ng-show="isEstimatedTimeExceeded(activeTask)"></i>
                            </li>
                            <li class="col-md-6">Czas pracy:</li>
                            <li class="col-md-6">{{ activeTask.loggedTime | duration}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="details-container dates-details-container">
                    <h5 class="strong with-hr">Daty</h5>

                    <div class="container-fluid">
                        <ul class="list-unstyled">
                            <li class="col-md-6">Deadline:</li>
                            <li class="col-md-6">{{activeTask.assigneeDeadline.date}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="details-container attachments-details-container">
                    <h5 class="strong with-hr">Załączniki</h5>

                    <div class="container-fluid">
                        <ul class="list-unstyled">
                            <li class="col-md-6"><a href="">Załącznik 1</a></li>
                            <li class="col-md-6"><a href="">Załącznik 2</a></li>
                            <li class="col-md-6"><a href="">Załącznik 3</a></li>
                            <li class="col-md-6"><a href="">Załącznik 4</a></li>
                            <li class="col-md-6"><a href="">Załącznik 5</a></li>
                            <li class="col-md-6"><a href="">Załącznik 6</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div tooltip="{{logProgressMessage}}" tooltip-placement="top" ng-click="openStopWorkingModal(activeTask.id, activeTask.progressPercentage.percentageValue)" class="row progress-bar-container">
            <div class="col-md-12">
                <progressbar value="activeTask.progressPercentage.percentageValue" class="task-progress-bar">{{activeTask.progressPercentage.percentageValue}}%</progressbar>
            </div>
        </div>

        <div class="text-center">
            <button ng-click="openStopWorkingModal(activeTask.progressPercentage.percentageValue)" class="btn btn-default">Zatrzymaj pracę</button>
            <button ng-click="finishWorkingOnTask(activeTask.id)" class="btn btn-default">Zakończ</button>
        </div>
    </div>
    <div class="container active-task-container" ng-switch-when="false">
        <h1 class="text-center">Aktualnie nie pracujesz nad żadnym zadaniem</h1>
        <article class="text-center">Aby rozpocząć pracę nad zadaniem, wybierz interesujący Cię wiersz w tabeli, a następnie kliknij ikonkę w kolumnie "Akcje" i wybierz "Rozpocznij".</br>Możesz najpierw przejrzeć szczegóły zadania klikając "Wyświetl szczegóły".</article>
    </div>
    <div class="container active-task-container" ng-switch-default>
        Wczytywanie
    </div>
</div>