<div class="modal-content">
    <div class="modal-header task-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Dodaj podzadanie do zadania <strong>{{data.parentTask.name}}</strong></h4>
    </div>
    <div class="modal-body task-modal-form" >
        <form name="addSubtaskForm" ng-submit="addSubtask()" id="contact-form" class="form-horizontal" novalidate>
            <fieldset>
                <div ng-class="{ 'has-error' : addSubtaskForm.name.$invalid && !addSubtaskForm.name.$pristine }">
                    <label class="control-label" >Name</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="task.taskDescription.name"
                               name="name" placeholder="Type here name of task" in-focus ng-required="true"/>
                        <p ng-show="addSubtaskForm.name.$invalid && !addSubtaskForm.name.$pristine" class="help-block">Task name is required.</p>
                    </div>
                </div>
                <div ng-class="{ 'has-error' : addSubtaskForm.assigneeDeadline.$invalid && addSubtaskForm.assigneeDeadline.$dirty }">
                    <label class="control-label">Assignee's deadline</label>
                    <div class="controls">
                        <div class="form form-inline">
                            <in-date-picker-input min-date="assigneeMinimumDeadline" max-date="assigneeMaximumDeadline"
                                                  picked-date="task.assigneeDeadline.date" input-name="'assigneeDeadline'" disabled-days="serverData.daysOff"></in-date-picker-input>
                            <p ng-show="addSubtaskForm.assigneeDeadline.$invalid && addSubtaskForm.assigneeDeadline.$dirty" class="help-block">Deadline is required.</p>
                        </div>
                    </div>
                </div>
                <div in-secured roles="MANAGER, DIRECTOR" ng-class="{ 'has-error' : addSubtaskForm.ownerDeadline.$invalid && !addSubtaskForm.ownerDeadline.$pristine }">
                    <label class="control-label">Owner's deadline</label>
                    <div class="controls">
                        <div class="form form-inline">
                            <in-date-picker-input min-date="task.assigneeDeadline.date" max-date="ownerMaximumDeadline"
                                                  picked-date="task.ownerDeadline.date" input-name="'ownerDeadline'" disabled-days="serverData.daysOff"></in-date-picker-input>
                            <p ng-show="addSubtaskForm.ownerDeadline.$invalid && !addSubtaskForm.ownerDeadline.$pristine" class="help-block">Deadline is required.</p>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Assignee</label>
                    <div class="controls">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{task.taskProperties.assigned.firstName}} {{task.taskProperties.assigned.secondName}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="assignee in serverData.possibleAssignees"><a ng-click="setAssignee(assignee)">
                                    {{assignee.firstName}} {{assignee.secondName}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Priority</label>
                    <div class="controls">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{task.taskProperties.priority}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="item in serverData.possiblePriorities"><a ng-click="setPriority(item)"> {{item}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Estimated time</label>

                    <div class="controls">
                        <in-duration-picker ng-model="task.taskProperties.estimatedTime" hour-step="helpers.hourStep"
                                            minute-step="helpers.minuteStep" allow-zero="helpers.allowZero"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Description</label>
                    <div class="controls">
                        <textarea class ="form-control task-modal-description" name="description" rows="4"
                                  ng-model="task.taskDescription.description" placeholder="Describe briefly new task">
                        </textarea>
                    </div>
                </div>

                <div class="control-group" ng-controller="TaskFormCtrl">
                    <label class="control-label">Attachment</label>
                    <div class="controls">
                        <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add</button>
                        <div collapse="isCollapsed">
                            <div class="well well-large">TODO :-)</div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="modal-footer">
                <button type="submit" id="addNewTask" value="AddNewTask" class="btn btn-success" ng-disabled="addSubtaskForm.$invalid">Zapisz</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Anuluj</button>
            </div>
        </form>
    </div>


</div><!-- /.modal-content -->

