<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h4><i class="fa fa-repeat"></i> Zadania cykliczne</h4>
            <ul class="nav nav-sidebar">
                <li><a ui-sref=".new-cyclic-task">Dodaj zadanie cykliczne</a></li>
                <li><a ui-sref=".tasks_cyclic_list">Listuj zadania cykliczne</a></li>
                <li><a href="">Potwierdź zadania dodane przez pracowników</a></li>
            </ul>
            <hr/>
            <h4><i class="fa fa-users"></i> Pracownicy</h4>
            <ul class="nav nav-sidebar">
                <li><a href="">Dodaj pracownika</a></li>
                <li><a href="">Listuj pracowników</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 admin-panel-main" ui-view>
            <div class="admins-panel-welcome">
                <h1 class="page-header">Witaj w panelu administracyjnym!</h1>

                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a ui-sref=".new-cyclic-task">
                            <i class="fa fa-repeat fa-200px colored-black"></i>
                            <h4>Dodaj zadanie cykliczne</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a ui-sref=".tasks_cyclic_list">
                            <i class="fa fa-list fa-200px colored-black"></i>
                            <h4>Listuj zadania cykliczne</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="">
                            <i class="fa fa-user fa-200px colored-black"></i>
                            <h4>Dodaj pracownika</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="">
                            <i class="fa fa-users fa-200px colored-black"></i>
                            <h4>Listuj pracowników</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
