<h1 class="page-header">{{cyclicTask.templateTask.taskDescription.name}}</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-7 cyclic-task-details">
        <article class="text-justify cyclic-task-description">{{cyclicTask.templateTask.taskDescription.description}}</article>
        <div class="container-fluid">
            <div class="row">
                <h5 class="strong with-hr">Szczegóły </h5>
                <ul class="list-unstyled text-left row">
                    <li class="col-md-4">
                        <span class="glyphicon glyphicon-edit"></span>
                        Przypisane do:
                    </li>
                    <li class="col-md-8">
                        {{cyclicTask.templateTask.taskProperties.assigned.firstName}}
                        {{cyclicTask.templateTask.taskProperties.assigned.secondName}}</li>
                    <li class="col-md-4">
                        Utworzone przez:
                    </li>
                    <li class="col-md-8">
                        {{cyclicTask.templateTask.taskProperties.createdBy.firstName}}
                        {{cyclicTask.templateTask.taskProperties.createdBy.secondName}}
                    </li>

                    <li class="col-md-4">Estymata:</li>
                    <li class="col-md-8">
                        {{cyclicTask.templateTask.taskProperties.estimatedTime}} min
                    </li>

                    <li class="col-md-4">
                        <span class="glyphicon glyphicon-edit"></span>
                        Wystąpienia:
                    </li>
                    <li class="col-md-8" ng-show="cyclicTask.templateTask.daysOfMonth">
                        <in-days-of-month-displayer days-of-month="cyclicTask.templateTask.daysOfMonth"/>
                    </li>

                    <li class="col-md-8" ng-show="cyclicTask.templateTask.daysOfWeek">
                        <in-days-of-week-displayer days-of-week="cyclicTask.templateTask.daysOfWeek"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-5 placeholder">
        <span style="font-size: 200px;">#{{cyclicTask.id}}</span>
    </div>
</div>

<h2 class="sub-header">Instancje zadania {{cyclicTask.templateTask.taskDescription.name}}</h2>
<div class="cyclic-task-details-deadline-container text-center">
    <div class="row">
        <div class="col-md-1 line-34px" >Deadline:</div>
        <div class="col-md-3">
            <in-date-picker-input in-contains-forms min-date="dateFilter.min"
                                                    max-date="dateFilter.max"
                                                    picked-date="dateFilter.from"></in-date-picker-input>
        </div>
        <i class="fa fa-minus range-icon"></i>
        <div class="col-md-3">
            <in-date-picker-input in-contains-forms min-date="dateFilter.min"
                                                    max-date="dateFilter.max"
                                                    picked-date="dateFilter.to"></in-date-picker-input>
        </div>
    </div>
</div>
<div class="table-responsive cyclic-task-instances-table">
    <table class="table table-hover">

        <thead>
            <th>
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event,'taskProperties.priority')">
                    P
                    <in-sorting-icon sort-order="sortingColumnButtonClass('taskProperties.priority')"/>
                </button>
            </th>
            <th class="col-md-5">
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event,'taskDescription.name')">
                    Tytuł
                    <in-sorting-icon sort-order="sortingColumnButtonClass('taskDescription.name')"/>
                </button>
            </th>
            <th>
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event,'assignee')">
                    Pracownik
                    <in-sorting-icon sort-order="sortingColumnButtonClass('assignee')"/>
                </button>
            </th>
            <th>
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event,'owner')">
                    Twórca
                    <in-sorting-icon sort-order="sortingColumnButtonClass('owner')"/>
                </button>
            </th>
            <th>
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event,'loggedTime')">
                    Czas pracy
                    <in-sorting-icon sort-order="sortingColumnButtonClass('loggedTime')"/>
                </button>
            </th>
            <th>
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event,'status')">
                    Status
                    <in-sorting-icon sort-order="sortingColumnButtonClass('status')"/>
                </button>
            </th>
            <th>%</th>
            <th>
                <button class="btn btn-default btn-tasks-list-sort" title="Deadline osoby przypisanej"
                        ng-click="applyColumnOrderBy($event,'assigneeDeadline.date')">
                    Deadline pr.
                    <in-sorting-icon sort-order="sortingColumnButtonClass('assigneeDeadline.date')"/>
                </button>
            </th>
            <th >
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event,'ownerDeadline.date')">
                    Deadline twórcy
                    <in-sorting-icon sort-order="sortingColumnButtonClass('ownerDeadline.date')"/>
                </button>
            </th>
        </thead>

        <tbody>
            <tr ng-repeat="t in cyclicTask.tasks | orderBy:currentColumnOrderBy:reverse">
                <td>  {{ t.taskProperties.priority }} </td>
                <td class="col-md-2">  <a ng-href="/#/task/{{t.id}}">{{t.taskDescription.name}}</a> </td>
                <td>  {{ t.taskProperties.assigned.firstName + ' ' + t.taskProperties.assigned.secondName  }} </td>
                <td>  {{ t.taskProperties.createdBy.firstName + ' ' + t.taskProperties.createdBy.secondName }} </td>
                <td>  {{ t.loggedTime | duration}}</td>
                <td>  {{ t.status }} </td>
                <td>  {{ t.progressPercentage.percentageValue}}%</td>
                <td>  {{ t.ownerDeadline.date }} </td>
                <td>  {{ t.assigneeDeadline.date }} </td>
            </tr>
        </tbody>

    </table>
</div>
