<h1 class="page-header">Listuj zadania cykliczne</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-9" id="cyclic-task-list-filters">
        <article class="text-justify">W tym panelu możesz zobaczyć wszystkie zadania cykliczne. Aby zmienić wykonawców wyświetlanych zadań kliknij w ikonkę <i class="fa fa-user"></i> znajdującą się w tytule kolumny "Wykonawca".</article>
        <div class="deadline-container container">
            <div class="row">
                <div class="col-md-1 line-34px">Deadline:</div>
                <div class="col-md-3">
                    <in-date-picker-input in-contains-forms min-date="dateFilter.min"
                                          max-date="dateFilter.max"
                                          picked-date="dateFilter.from"></in-date-picker-input>
                </div>
                <i class="fa fa-minus range-icon"></i>
                <div class="col-md-3">
                    <in-date-picker-input in-contains-forms min-date="dateFilter.min"
                                          max-date="dateFilter.max"
                                          picked-date="dateFilter.to"></in-date-picker-input>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <i class="fa fa-list fa-200px"></i>
    </div>
</div>

<h2 class="sub-header">Zadania z: {{dateFilter.from | date:'longDate'}} - {{dateFilter.to | date:'longDate'}}</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event, 'templateTask.taskProperties.priority')">
                    P
                    <in-sorting-icon sort-order="sortingColumnButtonClass('templateTask.taskProperties.priority')"/>
                </button>
            </th>
            <th>
                <button class="btn btn-default btn-tasks-list-sort"
                        ng-click="applyColumnOrderBy($event,'templateTask.taskDescription.name')">
                    Tytuł
                    <in-sorting-icon sort-order="sortingColumnButtonClass('templateTask.taskDescription.name')"/>
                </button>
            </th>


            <th class="col-md-4">Opis</th>

            <th>Dni miesiąca</th>
            <th>Dni tygodnia</th>
            <th>Pracownik
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle task-actions-btn"
                            data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right assigned-dropdown" role="menu">
                        <li ng-repeat="assign in visibleAssignees"
                            ng-click="togglePerson($index, $event)">
                            <input type="checkbox" ng-checked="assign.checked"/> {{assign.firstName}} {{assign.secondName}}
                        </li>
                        <li class="divider"></li>
                        <button class="btn"
                                ng-click="setVisibleToAll($event)">
                            Wszyscy
                        </button>
                        <button class="btn"
                                ng-click="clearVisibleAssignees($event)">
                            Wyczyść
                        </button>
                    </ul>
                </div>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="cyclicTask in filteredTasks = (cyclicTasks | orderBy:currentColumnOrderBy | cyclicTaskAssigneeFilter:visibleAssignees)">
                <td>{{cyclicTask.templateTask.taskProperties.priority}}</td>
                <td>
                    <a ng-href="/#/admin-panel/task/cyclic/{{cyclicTask.id}}">
                        {{cyclicTask.templateTask.taskDescription.name}}
                    </a>
                </td>
                <td>{{cyclicTask.templateTask.taskDescription.description}}</td>
                <td>
                    <in-days-of-month-displayer days-of-month="cyclicTask.templateTask.daysOfMonth"/>
                </td>
                <td>
                    <in-days-of-week-displayer days-of-week="cyclicTask.templateTask.daysOfWeek"/>
                </td>
                <td>{{cyclicTask.templateTask.taskProperties.assigned.firstName}}
                    {{cyclicTask.templateTask.taskProperties.assigned.secondName}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-hide="filteredTasks.length">
    <h3 class="tasks-list-empty-text">Nie ma żadnych zadań do wyświetlenia. Wybierz inny przedział czasowy lub pracowników.</h3>
</div>
