<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Edytuj zadanie: <strong>{{task.id}}</strong></h4>
    </div>
    <div class="task-modal-form">
        <form name="editTaskForm" ng-submit="editTask()" id="edit-subtask-form" class="form-horizontal" novalidate>
            <div class="modal-body">
                <fieldset>
                    <div ng-class="{ 'has-error' : editTaskForm.name.$invalid && !editTaskForm.name.$pristine }">
                        <label class="control-label">Name</label>

                        <div class="controls">
                            <input type="text" class="form-control task-modal-description" ng-model="task.taskDescription.name"
                                   name="name" placeholder="Type here name of task" in-focus ng-required="true"/>
                            <p ng-show="editTaskForm.name.$invalid && !editTaskForm.name.$pristine" class="help-block">Task name is required.</p>
                        </div>
                    </div>

                    <div ng-class="{ 'has-error' : editTaskForm.assigneeDeadline.$invalid && editTaskForm.assigneeDeadline.$dirty }">
                        <label class="control-label">Assignee's deadline</label>
                        <div class="controls">
                            <div class="form-horizontal">
                                <in-date-picker-input min-date="serverData.assigneeMinimumDeadline" max-date="task.ownerDeadline.date"
                                                      picked-date="task.assigneeDeadline.date" input-name="'assigneeDeadline'"
                                                      disabled-days="serverData.assigneeDisabledDays"></in-date-picker-input>
                                <p ng-show="editTaskForm.assigneeDeadline.$invalid && editTaskForm.assigneeDeadline.$dirty" class="help-block">Deadline is required.</p>
                            </div>
                        </div>
                    </div>

                    <div ng-class="{ 'has-error' : editTaskForm.ownerDeadline.$invalid && !editTaskForm.ownerDeadline.$pristine }">
                        <label class="control-label">Owner's deadline</label>
                        <div class="controls">
                            <div class="form-horizontal">
                                <in-date-picker-input min-date="serverData.ownerCurrentMinDate" max-date="serverData.ownerMaximumDeadline"
                                                      picked-date="task.ownerDeadline.date" input-name="'ownerDeadline'"
                                                      disabled-days="serverData.ownerDisabledDays"></in-date-picker-input>
                                <p ng-show="editTaskForm.ownerDeadline.$invalid && !editTaskForm.ownerDeadline.$pristine" class="help-block">Deadline is required.</p>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Assignee</label>
                        <div class="controls">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{task.taskProperties.assigned.firstName}} {{task.taskProperties.assigned.secondName}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="assignee in serverData.possibleAssignees"><a ng-click="setAssignee(assignee)">
                                        {{assignee.firstName}} {{assignee.secondName}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Priority</label>
                        <div class="controls">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{task.taskProperties.priority}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="priority in serverData.possiblePriorities"><a ng-click="setPriority(priority)"> {{priority}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <input type="checkbox" ng-model="helpers.withEstimatedTime">
                        <label class="control-label">Estymata czasowa</label>
                        <div collapse="!helpers.withEstimatedTime" class="controls">
                            <in-duration-picker ng-model="task.taskProperties.estimatedTime" hour-step="helpers.hourStep"
                                                minute-step="helpers.minuteStep"
                                                allow-zero="!helpers.withEstimatedTime"></in-duration-picker>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" >Description</label>
                        <div class="controls">
                            <textarea class="form-control input-xlarge task-modal-description" rows="4" name="description" ng-required="false"
                                      ng-model="task.taskDescription.description" placeholder="Describe briefly new task">
                            </textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="submit" id="editTask" value="Save" class="btn btn-success"
                        ng-disabled="editTaskForm.$invalid">Zapisz
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Anuluj</button>
            </div>
        </form>
    </div>

</div>

