<div class="modal-content">
    <form name="logProgressForm" ng-submit="logProgress(task.id, progress.timeInMinutesToLog, progress.percentToLog)">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">Zapisz postęp pracy</h4>
        </div>
        <div class="modal-body">
            <div>
                <label class="control-label" >Czas pracy</label>
                <in-duration-picker ng-model="progress.timeInMinutesToLog" hour-step="settings.hourStep"
                                    minute-step="settings.minuteStep"
                                    allow-zero="settings.allowZero"/>
            </div>
           <in-percentage-input percentage-variable="progress.percentToLog"/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-disabled="logProgressForm.$invalid || !canLogProgress(task.id, progress.timeInMinutesToLog, progress.percentToLog)">
                Zapisz
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Anuluj</button>
        </div>
    </form>
</div><!-- /.modal-content -->
