<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Logowanie</h4>
    </div>
    <form name="loginForm" ng-submit="login()" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" ng-model="credentials.username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" ng-model="credentials.password" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
</div>