<div>
    <p>Aktualnie zalogowany pracownik: {{currentUser.firstName}} {{currentUser.secondName}}</p>
    <form name="myForm">
        <table>
            <tr ng-repeat="employee in employees">
                <td><input type="radio" ng-model="$parent.selected" value="{{employee.id}}"
                           id="employee.id">
                    <label
                            for="employee.id">{{employee.firstName}}
                        {{employee.secondName}}</label></td>
            </tr>
        </table>
    </form>
    <p>Wybrany pracownik: {{selected}}</p>
    <div>
        <button type="submit" ng-click="setCurrentUser(selected)">OK</button>
    </div>
</div>