<div class="modal-header dialog-header-notify">
    <button type="button" class="close" ng-click="close()" class="pull-right">&times;</button>
    <h4 class="modal-title text-info"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Uwaga</h4>
</div>
<div class="modal-body text-info">
    <div ng-show="endOfMonthMovedTerms.length != 0">
        <p>Zadania wypadające w nieistniejące dni zostały przeniesione:</p>
        <ul>
            <li ng-repeat="movedTerm in endOfMonthMovedTerms">
                <span ng-repeat-start="fromDay in movedTerm.from">
                    {{dateToYMD(movedTerm.to).substring(0, 8) + fromDay}}{{$last ? '' : ', '}}
                </span>
                <span ng-repeat-end></span>
                &#10137;
                {{dateToYMD(movedTerm.to)}}
            </li>
        </ul>
    </div>
    <div ng-show="dayOffMovedTerms.length != 0">
        <p>Zadania wypadające w dni wolne od pracy <span ng-show="endOfMonthMovedTerms.length != 0">(uwzględniając zadania wymienione powyżej)</span> zostały przeniesione:</p>
        <ul>
            <li ng-repeat="movedTerm in dayOffMovedTerms">
                <span ng-repeat-start="fromTerm in movedTerm.from">
                    {{dateToYMD(fromTerm)}}{{$last ? '' : ', '}}
                </span>
                <span ng-repeat-end></span>
                &#10137;
                {{dateToYMD(movedTerm.to)}}
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="close()">OK</button>
</div>