<table class="table table-hover">
    <thead>
    <tr>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'taskProperties.priority')">
                P
                <in-sorting-icon sort-order="sortingColumnButtonClass('taskProperties.priority')"/>
            </button>
        </th>
        <th>%</th>
        <th class="col-md-5">
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'taskDescription.name')">
                Tytuł
                <in-sorting-icon sort-order="sortingColumnButtonClass('taskDescription.name')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'type')">
                Typ
                <in-sorting-icon sort-order="sortingColumnButtonClass('type')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'status')">
                Status
                <in-sorting-icon sort-order="sortingColumnButtonClass('status')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'loggedTime')">
                Czas pracy
                <in-sorting-icon sort-order="sortingColumnButtonClass('loggedTime')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'taskProperties.estimatedTime')">
                Estymata
                <in-sorting-icon sort-order="sortingColumnButtonClass('taskProperties.estimatedTime')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort" title="Deadline osoby przypisanej"
                    ng-click="applyColumnOrderBy($event,'assigneeDeadline.date')">
                Deadline
                <in-sorting-icon sort-order="sortingColumnButtonClass('assigneeDeadline.date')"/>
            </button>
        </th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in filteredTasks = (data.tasks | cyclicTasksGroupingFilter:isCyclicGrouping | taskFilter:predicatesParent.taskPredicate | orderBy:currentColumnOrderBy:reverse)"
        ng-class="{'danger': shouldAlreadyBeCompleted(task)}" ng-controller="TaskActionController">
        <td>{{task.taskProperties.priority}}</td>
        <td ng-init="taskProgress = task.progressPercentage.percentageValue">
            <span ng-if="canLogTimeToTask(task)">
                <a ng-click="openLogProgressModal(task.id, taskProgress)">{{taskProgress}}%</a>
            </span>
            <span ng-if="!canLogTimeToTask(task)">{{taskProgress}}%</span>
        </td>
        <td><span ng-if="task.taskProperties.parentTaskDescription.name"><a
                href="/#/task/{{task.taskProperties.parentTaskDescription.id}}">{{task.taskProperties.parentTaskDescription.name}}</a> / </span><a
                ng-href="/#/task/{{task.id}}">{{task.taskDescription.name}}</a></td>
        <td>
            <span ng-show="task.type == 'CYCLIC' && !isCyclicGrouping" class="glyphicon glyphicon-repeat"></span>
            <span ng-show="task.type == 'CYCLIC' && isCyclicGrouping" class="glyphicon glyphicon-folder-close"></span>
            <span ng-show="task.type == 'STANDARD'" class="glyphicon glyphicon-edit"></span>
        </td>
        <td>{{task.status}}</td>
        <td><a ng-click="openLogProgressModal(task.id)">{{task.loggedTime | duration}}</a></td>
        <td ng-class="{'text-danger strong': isEstimatedTimeExceeded(task)}">
            {{task.taskProperties.estimatedTime | duration}}
            <i class="fa fa-exclamation-triangle text-danger" title="Estymata przekroczona!" ng-show="isEstimatedTimeExceeded(task)"></i>
        </td>
        <td ng-class="{'text-danger': shouldAlreadyBeCompleted(task)}">
            {{task.assigneeDeadline.date}}
                        <span ng-show="shouldAlreadyBeCompleted(task)"
                              class="glyphicon glyphicon-exclamation-sign"></span>
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle task-actions-btn"
                        data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ng-href="/#/task/{{task.id}}">Wyświetl szczegóły</a></li>
                    <li ng-show="canEditTask(task)"><a ng-click="editTask(task.id)">Edytuj</a></li>
                    <li ng-show="canAddSubtaskToTask(task)" class="divider"></li>
                    <li ng-show="canAddSubtaskToTask(task)"><a ng-click="addSubTask(task)">Dodaj podzadanie</a></li>
                    <li ng-show="canStartWorkingOnTask(task) || canStopWorkingOnTask(task) || canLogTimeToTask(task) || canFinishWorkingOnTask(task) || canCancelTask(task)" class="divider"></li>

                    <li ng-show="canStartWorkingOnTask(task)"><a ng-click="startWorkingOnTask(task.id)">Rozpocznij</a></li>
                    <li ng-show="canStopWorkingOnTask(task)"><a ng-click="openStopWorkingModal(task.id, task.progressPercentage.percentageValue)">Zatrzymaj
                        pracę</a></li>
                    <li ng-show="canLogTimeToTask(task)"><a ng-click="openLogProgressModal(task.id, task.progressPercentage.percentageValue)">Zapisz
                        postęp pracy</a></li>
                    <li in-secured roles="MANAGER,DIRECTOR"><a ng-show="canCancelTask(task)" ng-click="cancelWorkingOnTask(task.id)">Anuluj</a></li>
                    <li ng-show="canFinishWorkingOnTask(task)"><a ng-click="finishWorkingOnTask(task.id)">Zakończ</a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div ng-hide="filteredTasks.length">
    <h3 class="tasks-list-empty-text">Nie ma żadnych zadań do wyświetlenia dla bieżącego filtru.</h3>
</div>
