<div class="new-cyclic-task-container">
    <h1 class="page-header">Dodaj zadanie cykliczne</h1>
    <form name="newCyclicTaskForm" ng-submit="createNewCyclicTask()" id="new-cyclic-task-form"
          class="form-horizontal" novalidate>
        <fieldset class="new-cyclic-task-form">

            <div class="control-group new-cyclic-task-form-control-group">
                <label class="control-label">Nazwa</label>

                <div ng-class="{ 'has-error' : newCyclicTaskForm.name.$invalid && !newCyclicTaskForm.name.$pristine }">
                    <div class="controls ">
                        <input type="text" class="input-xlarge form-control " ng-model="input.name"
                               name="name" ng-maxlength="255" placeholder="Wpisz tutaj nazwe nowego zadania" in-focus
                               ng-required="true"/>

                        <p ng-show="newCyclicTaskForm.name.$invalid && !newCyclicTaskForm.name.$pristine"
                           class="help-block">
                            Nazwa zadania jest wymagana</p>
                    </div>
                </div>
            </div>
            <br/>

            <div class="control-group new-cyclic-task-form-control-group">
                <label class="control-label">Opis zadania</label>

                <div class="controls">
                    <textarea class="input-xlarge form-control new-cyclic-task-form-textarea" name="description"
                              rows="4"
                              ng-model="input.description" ng-maxlength="255"
                              placeholder="Opisz tutaj nowe zadanie">
                    </textarea>
                </div>
            </div>

            <div class="control-group new-cyclic-task-form-control-group">
                <label class="control-label">Wykonawca</label>
                <div class="controls">
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{input.assigned.firstName}} {{input.assigned.secondName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="assignee in serverData.possibleAssignees">
                                <a ng-click="setAssignee(assignee)">
                                {{assignee.firstName}} {{assignee.secondName}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="control-group new-cyclic-task-form-control-group">
                <label class="control-label">Priorytet</label>
                <div class="controls">
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{input.priority}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="priority in serverData.priorities">
                                <a ng-click="setPriority(priority)"> {{priority}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="control-group new-cyclic-task-form-control-group">
                <label class="control-label">Estymata czasowa</label>

                <div class="controls">
                    <in-duration-picker ng-model="input.estimatedTime" hour-step="helpers.hourStep"
                                        minute-step="helpers.minuteStep"
                                        allow-zero="helpers.allowZero"></in-duration-picker>
                </div>
            </div>


            <div class="control-group new-cyclic-task-form-control-group">
                <div class="controls"><h5>Czas obowiązywania</h5></div>
                <hr/>

                <label class="control-label">Od</label>

                <div class="controls">

                    <div class="form-horizontal">

                        <in-date-picker-input min-date="serverData.minDate" max-date="serverData.maxDate"
                                              picked-date="input.from" disabled-days="serverData.daysOff"></in-date-picker-input>

                        <label class="control-label">Do</label>

                        <in-date-picker-input min-date="input.from" max-date="serverData.maxDate"
                                              picked-date="input.to" disabled-days="serverData.daysOff"></in-date-picker-input>
                        <br/>

                        <span class="alert-danger" ng-show="newCyclicTaskForm.inDatePicker.$error.required">Duration is required</span>

                    </div>
                </div>
            </div>

            <div class="control-group new-cyclic-task-form-control-group">

                <label class="control-label">Każdego dnia tygodnia:</label>

                <div class="controls">

                    <div class="form-horizontal">

                        <input type="radio" name="weeklyOrMonthlyChoice" ng-model="helpers.isWeeklyOpen" ng-value="true"/>

                        <div collapse="!helpers.isWeeklyOpen">
                            <div class="well span5">
                                <div ng-repeat="day in input.weekly">
                                    <input type="checkbox" ng-model="day.is"/> {{day.name}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="control-group new-cyclic-task-form-control-group">

                <label class="control-label">Każdego dnia miesiąca</label>

                <div class="controls">

                    <div class="form-horizontal">

                        <input type="radio" name="weeklyOrMonthlyChoice" ng-model="helpers.isWeeklyOpen" ng-value="false"/>

                        <div collapse="helpers.isWeeklyOpen">
                            <div class="well monthly-days-picker">
                                <button type="button" class="monthly-day-tile" ng-class="{'is-picked' : i.isPicked}"
                                        ng-click="toggleIsPresent($index)" ng-repeat="i in input.monthly">
                                    {{i.which}}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr/>
            <div class="form-actions new-cyclic-task-form-control-group text-center">
                <button type="submit" class="btn btn-success" ng-disabled="newCyclicTaskForm.$invalid">Dodaj</button>
                <button type="reset" class="btn btn-default">Wyczyść</button>
            </div>
        </fieldset>
    </form>
</div>