<div class="modal-content">
    <div class="modal-header task-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Zgłoś problem</h4>
    </div>
    <div class="modal-body task-modal-form" >
        <form name="reportBugForm" ng-submit="reportBug(message)" id="contact-form" class="form-horizontal" novalidate>
            <fieldset>
                <label class="control-label" >Reporter</label>
                <div class="controls">
                    <input type="text" class="form-control" value="{{userData.firstName}} {{userData.secondName}}" ng-disabled="true"
                           name="title" placeholder="Bug topic" in-focus ng-required="true"/>
                </div>

                <div ng-class="{ 'has-error' : reportBugForm.title.$invalid && !reportBugForm.title.$pristine }">
                    <label class="control-label" >Topic</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="message.subject"
                               name="title" placeholder="Bug topic" in-focus ng-required="true"/>
                        <p ng-show="reportBugForm.title.$invalid && !reportBugForm.title.$pristine" class="help-block">Message topic is required.</p>
                    </div>
                </div>
                <div ng-class="{ 'has-error' : reportBugForm.description.$invalid && !reportBugForm.description.$pristine }">
                    <label class="control-label" >Description</label>
                    <div class="controls">
                        <textarea class ="form-control task-modal-description" name="description" rows="4"
                                  ng-model="message.description" placeholder="Describe the bug" ng-required="true">
                        </textarea>
                        <p ng-show="reportBugForm.description.$invalid && !reportBugForm.description.$pristine" class="help-block">Message body is required.</p>
                    </div>
                </div>
            </fieldset>
            <div class="modal-footer">
                <button type="submit" id="reportBug" value="ReportBug" class="btn btn-success" ng-disabled="reportBugForm.$invalid">Wyślij</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Anuluj</button>
            </div>
        </form>
    </div>


</div><!-- /.modal-content -->

