<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Zapisz filtr</h4>
    </div>
    <form name="saveFilterForm" ng-submit="saveCurrentFilterWithName(filterName)" id="contact-form" class="form-horizontal" novalidate>
        <div class="modal-body">
            <fieldset>
                <div ng-class="{ 'has-error' : saveFilterForm.name.$invalid && !saveFilterForm.name.$pristine }">
                    <label class="control-label" >Nazwa filtru:</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="filterName" name="name" placeholder="Np. Cykliczne na jutro..." in-focus ng-required="true"/>
                        <p ng-show="saveFilterForm.name.$invalid && !saveFilterForm.name.$pristine" class="help-block">Nazwa filtru jest wymagana.</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" ng-disabled="saveFilterForm.$invalid">Zapisz</button>
            <a data-dismiss="modal" ng-click="cancel()">Anuluj</a>
        </div>
    </form>
</div><!-- /.modal-content -->