<table class="table table-hover">
    <thead>
    <tr>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'taskProperties.priority')">
                P
                <in-sorting-icon sort-order="sortingColumnButtonClass('taskProperties.priority')"/>
            </button>
        </th>
        <th>%</th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'taskDescription.name')">
                Tytuł
                <in-sorting-icon sort-order="sortingColumnButtonClass('taskDescription.name')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'type')">
                Typ
                <in-sorting-icon sort-order="sortingColumnButtonClass('type')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'status')">
                Status
                <in-sorting-icon sort-order="sortingColumnButtonClass('status')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'loggedTime')">
                Czas pracy
                <in-sorting-icon sort-order="sortingColumnButtonClass('loggedTime')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'taskProperties.estimatedTime')">
                Estymata
                <in-sorting-icon sort-order="sortingColumnButtonClass('taskProperties.estimatedTime')"/>
            </button>
        </th>
        <th in-secured roles="MANAGER,DIRECTOR">
            <button class="btn btn-default btn-tasks-list-sort"
                    ng-click="applyColumnOrderBy($event,'ownerDeadline.date')">
                Deadline
                <in-sorting-icon sort-order="sortingColumnButtonClass('ownerDeadline.date')"/>
            </button>
        </th>
        <th>
            <button class="btn btn-default btn-tasks-list-sort" title="Deadline osoby przypisanej"
                    ng-click="applyColumnOrderBy($event,'assigneeDeadline.date')">
                Deadline pr.
                <in-sorting-icon sort-order="sortingColumnButtonClass('assigneeDeadline.date')"/>
            </button>
        </th>
        <th>Assigned
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle task-actions-btn"
                        data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right assigned-dropdown" role="menu">
                    <li ng-repeat="assign in visibleAssignees"
                        ng-click="togglePerson($index, $event)">
                        <input type="checkbox" ng-checked="assign.checked"/> {{assign.firstName}} {{assign.secondName}}
                    </li>
                    <li class="divider"></li>
                    <button class="btn btn-default"
                            ng-click="setVisibleToAll($event)">
                        Wszyscy
                    </button>
                    <button class="btn btn-default"
                            ng-click="clearVisibleAssignees($event)">
                        Wyczyść
                    </button>
                </ul>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in filteredTasks = (data.tasks | cyclicTasksGroupingFilter:isCyclicGrouping | taskFilter:predicatesParent.taskPredicate | standardTaskAssigneeFilter:visibleAssignees | orderBy:currentColumnOrderBy:reverse)"
        ng-class="{'danger': shouldAlreadyBeCompleted(task)}" ng-controller="TaskActionController">
        <td>{{task.taskProperties.priority}}</td>
        <td><a ng-click="openLogProgressModal(task.id, task.progressPercentage.percentageValue)">{{task.progressPercentage.percentageValue}}%</a>
        </td>
        <td><span ng-if="task.taskProperties.parentTaskDescription"><a
                href="/#/task/{{task.taskProperties.parentTaskDescription.id}}">{{task.taskProperties.parentTaskDescription.name}}</a> / </span><a
                ng-href="/#/task/{{task.id}}">{{task.taskDescription.name}}</a></td>
        <td>
            <span ng-show="task.type == 'CYCLIC' && !isCyclicGrouping" class="glyphicon glyphicon-repeat"></span>
            <span ng-show="task.type == 'CYCLIC' && isCyclicGrouping" class="glyphicon glyphicon-folder-close"></span>
            <span ng-show="task.type == 'STANDARD'" class="glyphicon glyphicon-edit"></span>
        </td>
        <td>{{task.status}}</td>
        <td><a ng-click="openLogProgressModal(task.id)">{{task.loggedTime | duration}}</a></td>
        <td>{{task.taskProperties.estimatedTime | duration}}</td>
        <td in-secured roles="MANAGER,DIRECTOR">{{task.ownerDeadline.date}}</td>
        <td ng-class="{'text-danger': shouldAlreadyBeCompleted(task)}">
            {{task.assigneeDeadline.date}}
                        <span ng-show="shouldAlreadyBeCompleted(task)"
                              class="glyphicon glyphicon-exclamation-sign"></span>
        </td>
        <td>{{task.taskProperties.assigned.firstName}}
            {{task.taskProperties.assigned.secondName}}
        </td>
    </tr>
    </tbody>
</table>
<div ng-hide="filteredTasks.length">
    <h3 class="tasks-list-empty-text">Nie ma żadnych zadań do wyświetlenia dla bieżącego filtru.</h3>
</div>
