<div class="container task-container">
    <h1 class="text-center details-page-header">{{task.taskDescription.name}}</h1>

    <div tooltip="{{logProgressMessage}}" tooltip-placement="top" ng-disabled="logProgressButtonDisabled" ng-click="logProgressFromBar(task.id, task.progressPercentage.percentageValue)" class="row progress-bar-container">
        <div class="col-md-12">
            <progressbar value="task.progressPercentage.percentageValue" class="task-progress-bar">{{task.progressPercentage.percentageValue}}%</progressbar>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="details-container">
                <h5 class="strong with-hr">Szczegóły</h5>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            Przypisane do: {{task.taskProperties.assigned.firstName}}
                            {{task.taskProperties.assigned.secondName}}
                        </div>
                        <div class="col-md-4">
                            Utworzone przez: {{task.taskProperties.createdBy.firstName}}
                            {{task.taskProperties.createdBy.secondName}}
                        </div>
                        <div class="col-md-4">
                            Status: {{task.status}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="details-container time-details-container">
                <h5 class="strong with-hr">Czas</h5>

                <div class="container-fluid">
                    <ul class="list-unstyled">
                        <li class="col-md-6">Estymata:</li>
                        <li class="col-md-6" ng-class="{'text-danger strong': isEstimatedTimeExceeded(task)}">
                            {{task.taskProperties.estimatedTime | duration}}
                            <i class="fa fa-exclamation-triangle text-danger" title="Estymata przekroczona!" ng-show="isEstimatedTimeExceeded(task)"></i>
                        </li>
                        <li class="col-md-6">Czas pracy:</li>
                        <li class="col-md-6">{{task.loggedTime | duration }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="details-container dates-details-container">
                <h5 class="strong with-hr">Daty</h5>

                <div class="container-fluid">
                    <ul class="list-unstyled">
                        <li class="col-md-7">Deadline pracownika:</li>
                        <li class="col-md-5">{{task.asigneeDeadline.date || "-"}}</li>
                        <li class="col-md-7">Deadline twórcy:</li>
                        <li class="col-md-5">{{task.ownerDeadline.date || "-"}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="details-container time-details-container">
                <h5 class="strong with-hr">Postęp pracy</h5>

                <div class="container-fluid">
                    <ul class="list-unstyled">
                        <li class="col-md-6">Procent wykonania:</li>
                        <li class="col-md-6">{{task.progressPercentage.percentageValue}} %</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="details-container attachments-details-container">
                <h5 class="strong with-hr">Załączniki</h5>

                <div class="container-fluid">
                    <ul class="list-unstyled">
                        <li class="col-md-6"><a href="">Załącznik 1</a></li>
                        <li class="col-md-6"><a href="">Załącznik 2</a></li>
                        <li class="col-md-6"><a href="">Załącznik 3</a></li>
                        <li class="col-md-6"><a href="">Załącznik 4</a></li>
                        <li class="col-md-6"><a href="">Załącznik 5</a></li>
                        <li class="col-md-6"><a href="">Załącznik 6</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="details-container description-container">
                <h5 class="strong with-hr">Opis</h5>
                <article class="text-justified">{{task.taskDescription.description != "" ? task.taskDescription.description : "Brak opisu"}}</article>
            </div>
        </div>
    </div>

    <div class="col-md-12 task-actions-btns-container">
        <button class="btn btn-default" ng-disabled="addSubtaskButtonDisabled" in-secured roles="MANAGER,DIRECTOR" ng-click="addSubtask()">Dodaj podzadanie</button>
        <button class="btn btn-default" ng-disabled="editTaskButtonDisabled" in-secured roles="MANAGER,DIRECTOR" ng-click="editTask()">Edytuj</button>
        <button class="btn btn-default" ng-disabled="startTaskButtonDisabled" ng-click="startWorkingOnTask()">Rozpocznij</button>
        <button ng-hide="logProgressButtonHid" class="btn btn-default"  ng-disabled="logProgressButtonDisabled" ng-click="logWorkingProgress(task.id, task.progressPercentage.percentageValue)">Zapisz postęp pracy</button>
        <button class="btn btn-default" ng-disabled="stopWorkingModalDisabled" ng-click="openStopWorkingModal(task.id, task.progressPercentage.percentageValue)">Zatrzymaj pracę</button>
        <button class="btn btn-default" ng-disabled="finishTaskButtonDisabled" ng-click="endWorkingOnTask()">Zakończ</button>
        <button class="btn btn-default" ng-disabled="cancelTaskButtonDisabled" in-secured roles="MANAGER,DIRECTOR" ng-click="cancelTask()">Anuluj</button>
        <a href="/#/tasks">Powrót do listy zadań</a>
    </div>

</div>

<div class="container pad-top"  ng-show="hasSubtasks()">
    <div class="panel panel-default">
        <div class="panel-heading">Podzadania</div>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Przypisane do</th>
                <th>Utworzone przez</th>
                <th>Status</th>
                <th>Estymata</th>
                <th>Czas pracy</th>
                <th>Deadline</th>
                <th>Procent wykonania</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subtask in subtasks">
                    <td><a href="/#/task/{{subtask.id}}">{{subtask.taskDescription.name}}</a></td>
                    <td>{{subtask.taskProperties.assigned.firstName}} {{subtask.taskProperties.assigned.secondName}}</td>
                    <td>{{subtask.taskProperties.createdBy.firstName}} {{subtask.taskProperties.createdBy.secondName}}</td>
                    <td>{{subtask.status}}</td>
                    <td>{{subtask.estimatedTime}}</td>
                    <td>{{subtask.loggedTime.minutes}}</td>
                    <td>{{subtask.ownerDeadline.date}}</td>
                    <td>{{subtask.progressPercentage.percentageValue}} %</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container pad-top" ng-show="hasSiblingtasks()">
    <div class="panel panel-default">
        <div class="panel-heading">Zadania pokrewne</div>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Status</th>
                <th>Procent wykonania</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sibling in siblingtasks">
                <td ng-switch on="isSubtaskMine(sibling)">
                    <span ng-switch-when="true">
                        <a href="/#/task/{{sibling.id}}">{{sibling.taskDescription.name}}</a>
                    </span>
                    <span ng-switch-default>
                        {{sibling.taskDescription.name}}
                    </span>
                </td>
                <td>{{sibling.status}}</td>
                <td>{{sibling.progressPercentage.percentageValue}} %</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="comments-container" class="container" ng-controller="TaskCommentController">
    <h3>Komentarze:</h3>

    <div class="task-comments">
        <div class="comment" ng-repeat="comment in comments | orderBy:predicate = 'time' :reverse = false">
            <span class="comment-header">
                <i class="fa fa-user"></i>
                <span class="comment-author">{{comment.employee.firstName}} {{comment.employee.secondName}}</span> dodał komentarz -
                <span class="date">{{comment.time | date:'d.MM.yyyy H:mm'}}</span>
            </span>

            <blockquote>
                {{comment.text}}
            </blockquote>
        </div>
    </div>

    <hr>

    <form name="addTaskCommentForm" id="comment-form">
        <fieldset>
            <textarea class="comment-input-text form-control" ng-required="true" rows="3" ng-maxlength="255" ng-model="input.text" placeholder="Twój komentarz.."></textarea>

            <div class="text-center">
                <button type="submit" ng-disabled="addTaskCommentForm.$invalid" class="btn btn-default comments-button"
                        ng-click="addTaskComment()">Dodaj Komentarz
                </button>
                <button ng-click="clearInput()" class="btn btn-default comments-button">Wyczyść</button>
            </div>
        </fieldset>
    </form>
</div>
