<!-- Active task container -->
<div ui-view="active_task_listing"></div>

<!-- Content container -->
<div class="container-fluid content-container">
<div class="row">

<!-- Filters container -->
<span class="filters-container" ng-controller="TaskFiltersController">

    <!-- Filters sidebar -->
    <div class="col-md-2 filters-sidebar">
        <h3>Filtry</h3>
        <input type="text" class="form-control filter-search" ng-model="sidebarFiltersSearch" placeholder="Szukaj...">
        <hr class="filters-hr">
        <ul class="nav nav-pills nav-stacked" ng-repeat="filter in filters | filter:sidebarFiltersSearch">
            <li ng-click="setFilter(filter)">
                <a ng-switch on="isPredefined(filter)">
                    <span>{{filter.name}}</span>
                    <button ng-switch-when="true" tooltip="Ten filtr się jeszcze przyda..."
                            tooltip-placement="right" tooltip-trigger="focus" class="close pull-right" aria-hidden="true"
                            type="button" ng-click="$event.stopPropagation()" in-show-on-parent-hover>&times;</button>
                    <button ng-switch-default type="button" class="close pull-right" aria-hidden="true"
                            ng-click="deleteFilter($event, filter)" in-show-on-parent-hover>&times;</button>
                </a>
            </li>
        </ul>
    </div>

    <!-- Filters mainbar-->
    <div class="col-md-10 filters-mainbar">

        <div in-secured roles="MANAGER,DIRECTOR" class="btn-group my-subordinates-tasks-toggle">
            <button ui-sref=".my-tasks" class="btn btn-default"
                    ng-class="{'active-view disabled': myTasksView}" ng-click="toggleView()">Moje zadania</button>
            <button ui-sref=".subordinates-tasks" class="btn btn-default"
                    ng-class="{'active-view disabled': !myTasksView}" ng-click="toggleView()">Zadania podwładnych</button>
        </div>

        <h3 class="filter-name">{{predicatesParent.taskPredicate.name}}
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-click="openSaveFilterModal(predicatesParent.taskPredicate)">Zapisz filtr jako
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-click="resetFilters()">Resetuj Filtry
                </button>
            </div>
        </h3>

        <hr>
        <form ng-show="filtersLoaded" class="form-inline">

            <!-- Priorities -->
            <select class="form-control multiselect" data-placeholder="Priorytet"
                    ng-model="predicatesParent.taskPredicate.priorities"
                    ng-options="priority for priority in priorities"
                    ng-multiple="true" multiple="multiple" in-multiselect-dropdown>

            </select>

            <!-- Types -->
            <select class="form-control multiselect" data-placeholder="Typ"
                    ng-model="predicatesParent.taskPredicate.types" ng-options="type for type in types"
                    ng-multiple="true" multiple="multiple" in-multiselect-dropdown>

            </select>

            <!-- Statuses -->
            <select class="form-control multiselect" data-placeholder="Status"
                    ng-model="predicatesParent.taskPredicate.statuses" ng-options="status for status in statuses"
                    ng-multiple="true" multiple="multiple" in-multiselect-dropdown>

            </select>

            <!-- Deadline -->

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Deadline: {{predicatesParent.taskPredicate.date.from ? (predicatesParent.taskPredicate.date.from | date:'longDate') : "..."}}
                    - {{predicatesParent.taskPredicate.date.to ? (predicatesParent.taskPredicate.date.to | date:'longDate') : "..."}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-datepicker-item">
                            <in-date-picker-input in-contains-forms min-date="serverData.minDate"
                                                  max-date="serverData.maxDate"
                                                  picked-date="predicatesParent.taskPredicate.date.from"></in-date-picker-input>
                            <i class="fa fa-minus range-icon"></i>
                            <in-date-picker-input in-contains-forms min-date="serverData.minDate"
                                                  max-date="serverData.maxDate"
                                                  picked-date="predicatesParent.taskPredicate.date.to"></in-date-picker-input>

                    </li>
                </ul>
            </div>

            <div class="form-group">
                <label class="sr-only" for="searchTasksInput"></label>
                <input ng-model="predicatesParent.taskPredicate.taskDescription.name" type="text" class="form-control"
                       id="searchTasksInput" placeholder="Szukaj po tytule...">
            </div>

            <div id="group-cyclic-checkbox" class="checkbox">
                <label>
                    <input type="checkbox" ng-model="isCyclicGrouping"> Grupuj cykliczne
                </label>
                <button class="btn btn-default" ng-click="toggleVisibilityOfCompletedTasks()">
                    <span ng-switch="areCompletedTasksVisible()">
                        <span ng-switch-when="true">Ukryj zakończone zadania</span>
                        <span ng-switch-when="false">Pokaż zakończone zadania</span>
                    </span>
                </button>
            </div>
        </form>

    </div>

    <!-- Tasks list container -->
    <div class="col-md-10 task-list-container" ui-view> </div>
</span>


</div>
</div>
