<form name="newTaskForm" id="contact-form" class="form-horizontal" ng-controller="NewStandardTaskController">
    <fieldset>
        <legend>Create new task</legend>
        <div class="control-group">
            <label class="control-label" >Name</label>
            <div class="controls">
                <input type="text"  class="input-xlarge" ng-model="name"
                       name="name" placeholder="Type here name of task" git-focus ng-required="true"/>
                <span class="error" ng-show="newTaskForm.name.$error.required">Name is required</span>
            </div>
        </div>
        <div class="control-group" ng-controller="TaskFormCtrl">
            <label class="control-label">Assignee's deadline</label>
            <div class="controls">
                <div class="form-horizontal">
                    <p>
                        <input type="text" datepicker-popup="{{format}}" ng-model="tmp.assigneeDeadline" name="assigneeDeadline"
                               is-open="opened" min="minDate" max="assigneeDeadlineMaxDate()" datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" close-text="Close" ng-required="true"/>
                        <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                        <i> Date format:</i>
                        <select ng-model="format" ng-options="f for f in formats"><option></option></select>
                    </p>
                </div>
                <button class="btn btn-small btn-warning" ng-click="todayOwnerDeadline()">Today</button>
                <button class="btn btn-small btn-info" ng-click="clearOwnerDeadline()">Clear</button>
                <span ng-show="newTaskForm.ownerDeadline.$error.required">Deadline is required</span>
            </div>
        </div>

        <div class="control-group" ng-controller="TaskFormCtrl">
            <!-- Your == owner's. This is just a convenient form for user -->
            <label class="control-label">Your deadline</label>
            <div class="controls">
                <div class="form-horizontal">
                    <p>
                        <input type="text" datepicker-popup="{{format}}" ng-model="tmp.ownerDeadline" name="ownerDeadline"
                               is-open="opened" min="ownerDeadlineMinDate()" max="maxDate" datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" close-text="Close" ng-required="true"/>
                        <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                        <i> Date format:</i>
                        <select ng-model="format" ng-options="f for f in formats"><option></option></select>
                    </p>
                </div>
                <button class="btn btn-small btn-warning" ng-click="todayAssigneeDeadline()">Today</button>
                <button class="btn btn-small btn-info" ng-click="clearAssigneeDeadline()">Clear</button>
                <span ng-show="newTaskForm.assigneeDeadline.$error.required">Deadline is required</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Assignee</label>
            <div class="controls">
                <div class="btn-group">
                    <a class="btn dropdown-toggle ">
                        {{assigned.firstName}} {{assigned.secondName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in possibleAssignees"><a ng-click="setAssignee(item)">
                            {{item.firstName}} {{item.secondName}}
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Priority</label>
            <div class="controls">
                <div class="btn-group">
                    <a class="btn dropdown-toggle ">
                        {{priority}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in priorites"><a ng-click="setPriority(item)"> {{item}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Estimated time</label>
            <div class="controls">
                <div class="form-horizontal">
                    <input type="checkbox" ng-model="fillEstimatedTime">
                    <div collapse="!fillEstimatedTime">
                        <in-duration-picker ng-model="estimatedTime" hour-step="hourStep" minute-step="minuteStep" allow-zero="!fillEstimatedTime" />
                    </div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" >Description</label>
            <div class="controls">
                <textarea class="input-xlarge" name="description" rows="4" ng-required="false"
                          ng-model="description" placeholder="Describe briefly new task">
                </textarea>
                <span ng-show="newTaskForm.description.$error.required">Description is required</span>
            </div>
        </div>

        <div class="control-group" ng-controller="TaskFormCtrl">
            <label class="control-label">Attachment</label>
            <div class="controls">
                <button class="btn" ng-click="isCollapsed = !isCollapsed">Add</button>
                <div collapse="isCollapsed">
                    <div class="well well-large">TODO :-)</div>
                </div>
            </div>
        </div>


        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large" ng-disabled="newTaskForm.$invalid && assigneeDeadlineIsAfterOwnerDeadline()"
                    ng-click="addNewTask(); $close();">Create</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
    </fieldset>
    <hr>

    <!--OVERVIEW OF CONSTRUCTED TASK-->
    Constructed task: <br>
    name: {{name}} <br>
    ownerDeadline : {{tmp.ownerDeadline}} <br>
    assigneeDeadline : {{tmp.assigneeDeadline}} <br>
    assignee : {{assigned}} <br>
    description : {{description}} <br>
    priority : {{priority}} <br>
    createdBy : {{task.createdBy}} <br>
    estimatedTime : {{fillEstimatedTime ? estimatedTime : null}} <br>

</form>