<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Zatrzymaj pracę</h4>
    </div>
    <div class="modal-body">
        <div>
            <in-percentage-input percentage-variable="percentToLog"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"
                ng-disabled="!canStopWorking(task.id, percentToLog)"
                ng-click="stopWorking(task.id, percentToLog)">Zatrzymaj pracę
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Anuluj</button>
    </div>
</div><!-- /.modal-content -->
